* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #A0C49D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 800px;
    height: 600px;
}

/* Vision Board */
.vision {
    background-color: #c9e0b3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    background-color: white;
    opacity: 0%;
}